.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  position: relative; /* Permite posicionar absolutamente o ícone dentro */
  padding: 20px;
  background-color: #575757;
  text-align: center;
  color: white;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  /* Incluir estilos adicionais para o conteúdo principal */
}

.introText {
  text-align: center;
  margin-bottom: 30px;
}

.navigation {
  text-align: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none; /* Sem decoração no texto */
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 15px;
  margin: 10px;
  text-decoration: none; /* Sem decoração no texto */
  background-color: #999b9e;
  border-radius: 4px;
  color: #000;
  transition: background-color 0.6s, color 0.6s;
}

.card:hover {
  background-color: #636366;
  color: #ffffff;
}

.card svg {
  margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.footer {
  padding: 20px;
  background-color: #575757;
  color: white;
  text-align: center;
}

.logoAndUserSection {
  display: flex;
  align-items: center;
}

.userIcon {
  position: absolute;
  left: 0; /* Muda para 'right: 0;' para alinhar à direita */
  top: 50%;
  transform: translateY(-50%); /* Centraliza o ícone verticalmente */
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  left: 0; /* Align the dropdown to the left */
  top: 100%; /* Position the dropdown below the icon */
  background-color: #e7e7e7;
  min-width: 160px;
  z-index: 1;
}

.dropdownItem {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #000;
}

.dropdownItem:hover {
  background-color: #000;
  color: #ffffff;
}
