/* Estilos gerais da tabela */
.list-table {
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
  }
  
  .list-table th {
    background-color: #007bff;
    color: white;
    padding: 15px;
  }
  
  .list-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .list-table tr:nth-child(odd) td {
    background-color: #f8f9fa;
  }
  
  .list-table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Estilos para botões e suas ações */
  .action-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px; /* Adiciona um espaçamento entre os botões */
  }
  
/* Estilos para os botões */
.action-button {
    display: block; /* Faz cada botão ocupar sua própria linha */
    margin-bottom: 5px; /* Adiciona espaço abaixo de cada botão */
    padding: 0.25rem 0.5rem; /* Ajuste o preenchimento dos botões pequenos */
    border-radius: 0.2rem; /* Borda arredondada para suavizar as bordas do botão */
    font-size: 0.875rem; /* Tamanho da fonte para os botões pequenos */
    line-height: 1.5; /* A linha da altura para alinhar o texto do botão */
    text-align: center; /* Centraliza o texto dentro do botão */
  }
  
  .action-button-editar {
    background-color: #ffc107;
  }
  
  .action-button-ver {
    background-color: #17a2b8;
  }
  
  .action-button-adicionar {
    background-color: #28a745;
  }
  
  .action-button:hover {
    opacity: 0.8;
  }
  
  /* Ajustes para a paginação */
  .pagination-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  /* Estilização dos selects */
  .select-custom {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ddd;
  }
  
  /* Estilização dos status */
  .status-ativo {
    color: #28a745;
  }
  
  .status-inativo {
    color: #dc3545;
  }
  
  /* Ajustes para o Bootstrap se necessário */
  .btn-warning.btn-sm {
    margin-right: 5px;
  }
  
  .btn-success.btn-sm {
    margin-right: 5px;
  }
  
  .btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .btn-sm {
    display: block; /* Faz com que o botão ocupe sua própria linha */
    width: 100%; /* Ocupa toda a largura do container para alinhar com os outros botões */
  }
  
  .action-button:last-child {
    margin-bottom: 0;
  }