.list .action {
  cursor: pointer;
}

.submit-form {
  max-width: 4ex;
  margin: auto;
}

.edit-form {
  max-width: 400px;
  margin: auto;
}

.ativo {
  color: green; /* Cor para células Ativas */
}

.inativo {
  color: red; /* Cor para células Inativas */
}

